{{ template "header.html" . }} {{ template "nav_secure.html" . }}

<h1><a href="/-/events">Projects</a> &gt; Entries</h1>

<a href="/-/entry?event={{.EventUUID}}">+New</a>

<section class="content">
<table class="fl-table">
    <thead>
    <tr>
        <th width="10%">Start Date</th>
        <th width="30%">Subject</th>
        <!-- <th>End Date</th> -->
        <th width="40%">Description</th>
        <th width="20%">&nbsp;</th>
    </tr>
    </thead>

    <tbody>
    {{ range $val := .Entries }}
    <tr>
        <td>{{ $val.StartDate }}</td>
        <td><a href="/-/entry?event={{$val.EventId}}&entry={{$val.UUID}}">{{ $val.Subject }}</a></td>
        <!-- <td>{{ $val.EndDate }}</td> -->
        <td>{{ $val.Description }}</td>
        <td class="table-control">
            <a href="/-/entry?event={{$val.EventId}}&entry={{$val.UUID}}">🖋️</a>
            <span class="entry_delete"
                data-eventid="{{$val.EventId}}"
                data-entryid="{{$val.UUID}}">❌</span>
        </td>
    </tr>
    {{ end }}
    </tbody>
</table>
</section>

<script>
    const delButtons = document.querySelectorAll(".entry_delete");
    for (let i = 0; i < delButtons.length; ++i) {
        delButtons[i].addEventListener("click", e => {
            const evid = e.target.getAttribute("data-eventid");
            const enid = e.target.getAttribute("data-entryid");

            if (confirm("Are you sure?") == true) {
                fetch(`/-/entry?event=${evid}&entry=${enid}`, {
                    method: "DELETE"
                }).then(e => {
                    document.location = e.url;
                });
            }
        });
    }
</script>

{{ template "footer.html" . }}