{{ template "header.html" . }} {{ template "nav_secure.html" . }}

<h1><a href="/-/events">Events</a> &gt; Entries</h1>

<a href="/-/entry">+New</a>

<table>
    <tr>
        <th>Subject</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Description</th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <td>30 minute workout</td>
        <td>2024-10-10</td>
        <td>2024-10-10</td>
        <td>Lift x X many times and do things</td>
        <td>
            <a href="/-/entry?entry=">✏️</a>
            <a href="#">❌</a>
        </td>
    </tr>
    <tr>
        <td>30 minute workout</td>
        <td>2024-10-10</td>
        <td>2024-10-10</td>
        <td>Lift x X many times and do things</td>
        <td>
            <a href="/-/entry?entry=">✏️</a>
            <a href="#">❌</a>
        </td>
    </tr>
</table>


{{ template "footer.html" . }}