{{ template "header.html" . }} {{ template "nav_secure.html" . }}

<h1>Event</h1>

<section class="content">
<form action="/-/event" method="POST">
    <input type="hidden" name="event_uuid" value="{{ .Event.UUID }}">

    <div class="control">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" 
            value="{{ .Event.Title }}"/>
    </div>

    <div class="control">
        <label for="description">Description</label>
        <textarea id="description" wrap="soft"
            name="description">{{ .Event.Description }}</textarea>
    </div>

    <div class="control">
        <input type="submit" value="Submit">
    </div>
</form>
</section>

{{ template "footer.html" . }}