{{ template "header.html" . }} {{ template "nav_secure.html" . }}

<h1>Events</h1>

<a href="/-/event">+New</a>

<table class="fl-table">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Link</th>
        <th>&nbsp;</th>
    </tr>

    {{ range $val := .Events }}
    <tr>
        <td>{{ $val.Title }}</td>
        <td>{{ $val.Description }}</td>
        <td><a href="/ical/{{ $val.UUID }}">/ical/{{ $val.UUID }}</a></td>
        <td>
            <a href="/-/entries?event={{ $val.UUID }}">🗓️</a>
            <a href="/-/event?event={{ $val.UUID }}">✏️</a>
            <a href="#">❌</a>
        </td>
    </tr>
    {{ end }}
</table>

{{ template "footer.html" . }}