{{ template "header.html" . }} {{ template "nav_secure.html" . }}

<h1>Events</h1>

<a href="/-/event">+New</a>

<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Link</th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <td>Weight Training</td>
        <td>Basics getting back into it training</td>
        <td><a href="/ical/{event_uuid}">https://{sever}/ical/{event_uuid}</a></td>
        <td>
            <a href="/-/event?event=">✏️</a>
            <a href="/-/entries?event=">🗓️</a>
            <a href="#">❌</a>
        </td>
    </tr>
</table>

{{ template "footer.html" . }}