{{ template "header.html" . }} {{ template "nav_secure.html" . }}

<h1>Projects</h1>

<a href="/-/event">+New</a>

<section class="content">
    <table class="fl-table">
        <thead>
        <tr>
            <th width="30%">Title</th>
            <th width="50%">Description</th>
            <th width="20%">&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        {{ range $val := .Events }}
        <tr>
            <td><a href="/-/entries?event={{ $val.UUID }}" >{{ $val.Title }}</a></td>
            <td>{{ $val.Description }}</td>
            <td class="table-control">
                <a href="/ical/{{ $val.UUID }}">📆</a>
                <a href="/-/event?event={{ $val.UUID }}">🖋️</a>
                <!-- <a href="#">❌</a> -->
                <span class="event_delete"
	                data-eventid="{{$val.UUID}}">❌</span>
            </td>
        </tr>
        {{ end }}
        </tbody>
    </table>
</section>


<script>
    const delButtons = document.querySelectorAll(".event_delete");
    for (let i = 0; i < delButtons.length; ++i) {
        delButtons[i].addEventListener("click", e => {
            const evid = e.target.getAttribute("data-eventid");
            if (confirm("Are you sure?") == true) {
                fetch(`/-/event?event=${evid}`, {
                    method: "DELETE"
                }).then(e => {
                    document.location = e.url;
                });
            }
        });
    }
</script>


{{ template "footer.html" . }}