/* Style overrides here */

:root {
    --color-nav: silver;
    --color-nav-text: black;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: var(--main-font);
}
.control {
    margin: 1rem 0 1rem 0;
    width: 50%;
}

header {
    display: flex;
    background: var(--color-nav);
    color: var(--color-nav-text);
    height: 2.5rem;
}
header a,
header a:visited,
header a:hover,
header a:link {
    color: var(--color-nav-text);
}

nav {
    padding: .5rem;
    flex-basis: 100%;
    align-self: center;
}

div.user_menu {
    flex-basis: 20rem;
    text-align: right;
    align-self: center;
}

div.user_menu img.user_avatar {
    height: 1.5rem;
    border-radius: 100%;
    margin-right: 1rem;
}

section div.landing {
    display: grid;
    justify-content: center;
    grid-auto-columns: 1fr;
    align-self: center; 
}

section div.landing > * {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 1rem;
}
